<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Mi Página</title>
</head>
<body>
  <header>
    <div class="header-content">
      <img src="../img/imagen1.jpg" alt="Imagen 1" class="square-image">
      <img src="../img/imagen2.jpg" alt="Imagen 2" class="square-image">
    </div>
  </header>

    
        <section class="vertical-content">
          <nav class="oraciones">
            <p>Oración 1 <span class="arrow">➞</span></p>
            <p>Oración 2 <span class="arrow">➞</span></p>
            <p>Oración 3 <span class="arrow">➞</span></p>
          </nav>
          <nav class="imagenes">
            <a href="test.php"><img src="../img/1.jpg.jpeg" alt="Imagen 3"></a>
            <a href="mapa.php"><img src="../img/2.jpg.jpeg" alt="Imagen 4"></a>
            <a href="https://sayc.netlify.app"><img src="../img/3.jpg.jpeg" alt="Imagen 5"></a>
          </nav>
        </section>
  


  <footer>
    <div class="carousel-container">
      <div class="carousel">
          <img src="https://i.pinimg.com/564x/1c/de/17/1cde1700dc13a28b67ffed630a5e6f15.jpg" alt="Imagen 1">
          <img src="https://i.pinimg.com/564x/53/dd/ac/53ddac3b0b503044d3221be03556cd13.jpg" alt="Imagen 2">
          <img src="https://i.pinimg.com/564x/d9/7e/4f/d97e4f5fe31f944be8fe8079c43fd754.jpg" alt="Imagen 3">
          <img src="https://i.pinimg.com/564x/37/b0/03/37b003811276655d429e53d17c2c6b05.jpg" alt="Imagen 4">
          <img src="../img/abajo5.jpg" alt="Imagen 5">
      </div>
      <button id="prevBtn" class="carousel-btn"><h2> < </h2></button>
      <button id="nextBtn" class="carousel-btn"><h2> > </h2></button>
  </div>
  <script src="javascript.js"></script>


  </footer>
</body>
</html>
